.hello {
  h3 {
    margin: 40px 0 0;
  }

  %test {
    padding: 0;
    list-style-type: none;
  }

  ul {
    // padding: 0;
    // list-style-type: none;
    @extend %test;
  }

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      color: #42B983;
    }
  }

  a {
    color: #42B983;
  }
}
